/* General */

* {
    font-family: Heebo;
    text-align: right;
}

body {
    background: pink;
    margin: 0;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
}

a {
    color: white;
}

.master-container {
    display: flex;
    flex-direction: column;
}

.text-container {
    padding: 0px 40px 20px;
}


/* Navigation Bar*/

.nav {
    display: flex;
    align-items: center;
    padding: 5px;
    background: #ff9999;
}

.nav-menu {
    flex-grow: 8;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0 10px;
}

.nav-links {
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    margin-top: 0.2rem;
    color: white;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
}

.nav-logo-image {
    max-width: 60px;
}


/* Footer */

.footer-container {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.socials-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
}

footer {
    background: #545454;
    color: white;
    padding: 20px;
}


/* Form */

.form {
    padding: 20px 30px;
    border: solid black 2px;
    width: 13vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: rgb(255, 126, 147);
}

.form-container {
    display: flex;
    justify-content: center;
}

.sumbit,
form > div > input {
    border-radius: 8px;
    border: solid black 1px;
}

.form-logo {
    background-color: transparent;
    max-width: 130px;
}


/* Products Gallery */

div.gallery {
    margin: 5px;
    border: 1px solid black;
    float: left;
    width: 180px;
    height: 300px;
}

div.gallery:hover {
    border: 1px solid white;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.map-container {
    display:flex; 
    align-items:center;
    flex-direction:column;
}

.products-container {
    display:flex;
    flex-direction:column;
}